/*
* Backgrounds
*/
.background-theme-dark{
  background-color: $tertiary;
  color: rgb(220, 220, 220);
}

.background-theme-light{
  background-color: rgb(220, 220, 220);
  color: $primary;
}

/*
* Containers
*/
.container{
    &.general-container{
      padding: 70px 40px;
    }

    &.container-fuild{
      
    }
  }


