.services-block{
  .row{
    margin: 0;

    .card-background{
      min-height: 300px;
      position: relative;
      cursor: pointer;

      &:hover{
        .card{
          .service-img{
            svg{
              transform: scale(1.2);
            }
          }
        }
      }
  
      .card{
        width: 100%;
        text-align: center;
        background-color: inherit;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 0;
        text-transform: capitalize;
  
        .service-img{
          width: 65px;
          height: 65px;
          margin: 0 auto;
  
          svg{
            width: 100%;
            height: auto;
            fill: white;
            transition: 600ms;
          }
        }
  
        .card-body{
  
          h2{
            font-size: 18px;
          }
  
          p{
            font-size: 14px;
            font-family: 'Poppins Extra Light';
            line-height: 25px;
          }
        }
      }
  
      &:nth-child(2n+1){
        background-color: #111;
      }
    }
  }
}